{{> header}}

<div class="container home some">
  <img class="det-img" src="{{imageURL}}" />
  <div class="desc">
    <h2 class="display-5">{{title}}</h2>
    <p class="infoType">Description:</p>
    <p class="idea-description">{{description}}</p>
    <p class="infoType">Likes: <large>{{likes}}</large>
    </p>
    <p class="infoType">Comments:</p>
    <ul>
      {{#each comments}}
      <li class="comment">{{this}}</li>
      {{else}}
      <li class="comment">No comments yet :(</li>
      {{/each}}
    </ul>
  </div>
  {{#if canZ}}
  <div class="text-center">
    <a class="btn detb" href="#/x/delete/{{id}}">Delete</a>
  </div>
  {{else}}
  <form class="text-center" method="get" action="#/x/comments/{{id}}">
    <textarea class="textarea-det" name="newComment" id=""></textarea>
    <button type="submit" class="btn detb">Comment</button>
    <a class="btn detb" href="#/x/likes/{{id}}">Like</a>
  </form>
  {{/if}}
</div>

{{> footer}}