{{> head}}

<body>
    <header>
        {{> nav}}
        <form action="/search">
            <input type="text">
            <button type="button">Search</button>
        </form>
    </header>

    <main>
        <section class="cats">
            <ul>
                {{#each cats}}
                <li>
                    <img src="/images/{{this.image}}" alt="">
                    <h3>{{this.name}}</h3>
                    <p><span>Breed: </span>{{this.breed}}</p>
                    <p><span>Description: </span>{{this.description}}.</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="/cats/edit/{{this.id}}">Change Info</a></li>
                        <li class="btn delete"><a href="/cats/find-new-home/{{this.id}}">New Home</a></li>
                    </ul>
                </li>
                {{/each}}
            </ul>
        </section>
    </main>

</body>

</html>