{{> header}}

<form class="create-trek" action="#/x/details/edit/{{xId}}" method="post">

    <div class="form-label-group">
        <input type="text" name="location" class="form-control" placeholder="Location" required="" autofocus=""
            value="{{location}}">
        <label for="inputTrekName">Location</label>
    </div>

    <div class="form-label-group">
        <input type="text" value="{{dateTime}}" name="dateTime" class="form-control" placeholder="Date" required="">
        <label for="inputTrekDate">Date</label>
    </div>

    <div class="form-label-group">
        <textarea type="text" name="description" class="form-control" placeholder="{{description}}" required=""></textarea>
        <label for="inputTrekDescription">Description</label>
    </div>

    <div class="form-label-group">
        <input type="text" value="{{imageURL}}" name="imageURL" class="form-control" placeholder="Image" required="" autofocus="">
        <label for="inputTrekImage">Image</label>
    </div>
    <div style="display: none">
        <input name="organizer" value="" />
        <input name="likes" value="" />
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Edit the trek</button>
</form>

{{> footer}}