{{> header}}

<div class="row event-details">
  <div class="col-md-12 text-center overflow-hidden">

    <img class="details-img" src="{{imageURL}}" />
    <div class="my-3 p-3">
      <h2 class="display-5">{{name}}</h2>
      <p class="infoType">Description:</p>
      <p class="event-description">{{description}}</p>
      <p class="infoType">Date: <small>{{dateTime}}</small></p>
      <p class="infoType">Peope interested in: <small>{{peopleInterestedIn}}</small></p>
      <p class="infoType">Organizer: <small>{{organizer}}</small></p>
    </div>
    {{#if canZ}}
    <a href="#/x/details/edit/{{id}}" class="btn btn-primary btn-lg">Edit the event</a>
    <a href="#/x/delete/{{id}}" class="btn btn-danger btn-lg">Close the event</a>
    {{else}}
    <a href="#/x/update/{{id}}" class="btn btn-info btn-lg">Join the event</a>
    {{/if}}
  </div>
</div>

{{> footer}}

{{!-- <div class="container details">
  <div class="details-content">
    <h2>{{title}}</h2>
    <strong>{{category}}</strong>
    <p>{{content}}</p>
    <div class="buttons">
      {{#if canZ}}
      <a href="#/home" class="btn edit">Back</a>
      {{else}}
      <a href="#/x/delete/{{id}}" class="btn delete">Delete</a>
      <a href="#/x/details/edit/{{id}}" class="btn edit">Edit</a>
      {{/if}}
    </div>
  </div>
</div> --}}